* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Digital-7", "Helvetica Neue";
}

.container {
  height: 100vmin;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.521), rgba(0, 0, 0, 0.521)),
    url(bg.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show_time {
  margin: 40px auto;
  text-align: center;
  color: rgb(0, 255, 34);
  font-family: radial, sans-serif;
  font-size: 10rem;
}

.buttons {
  text-align: center;
}

button {
  border: none;
  padding: 8px 70px;
  margin: auto 40px;
  font-size: 3rem;
  background: rgba(0, 0, 0, 0);
  color: white;
  transition: 0.2s ease-in-out;
  border: 2px solid rgb(0, 255, 34);;
}

button:hover {
  background: rgba(255, 51, 0, 0);
  color: rgb(0, 255, 34);
}
